# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Log files
*.log

# Build directories
bin/

# Mac files
.DS_STORE
.dSYM
